/* General setup */

 * {
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  min-width: 1000px;
  max-width: 1400px;
}

/* Layout */

section {
  float: left;
  width: 50%;
}

aside {
  float: left;
  width: 30%;
}

nav {
  float: left;
  width: 20%;
}

footer {
  clear: both;
}

header, section, aside, nav, footer {
  padding: 20px;
}

/* header and footer */

header, footer {
  border-top: 5px solid #a66;
  border-bottom: 5px solid #a66;
}

/* WRITE YOUR CODE BELOW HERE */

/* Text styling */

/* Fonts */

body {
font-family: 'Libre Baskerville', serif;
font-size: 18px;
}
h1{
  text-align: center;
}
h1, h2, h3 {
font-family: 'Montserrat', sans-serif;
font-weight: 700;
}

p {
line-height: 1.5;
margin-bottom: 20px;
}

ul, ol {
margin: 0;
padding: 0 0 0 20px;
}

li {
margin-bottom: 10px;
}

a {
color: #a66;
text-decoration: none;
}

a:hover {
text-decoration: underline;
}

button {
  background-color: white;
  border-color: #a66;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius:none ;
}

button:hover {
  background-color: none;
}


/* End of file */